body, html {
  /* height: 100%; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f2ef;
  cursor: default;
}
.icon {
  width: 22%;
}
.tipContainer {
  background-color: rgba(187, 230, 228, 0.596);
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(1, 14, 16, 0.584);
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.input-group-text{
  background-color: #08f2a6;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 2px solid black;
  border-left: 1px solid black;
}
.input-group input {
  background-color: rgba(185, 208, 208, 0.798);
  color: #445859;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.input-group select {
  background-color: rgba(185, 208, 208, 0.798);
  color: #445859;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.textarea{
  display: none;
  width: 80%;
  background-color: rgba(175, 195, 195, 0.798);
}
.input-group input:focus, .input-group select:focus, .textarea:focus   {
  background-color: #b9e3d6;
}
#calculate {
  background-color: rgba(0, 0, 0, 0.651);
  border: none;
  color: #f4f4f4;
  box-shadow: 1px 1px 5px rgba(111, 118, 119, 0.584);
}
#submit {
  display: none;
  background-color: rgba(0, 0, 0, 0.651);
  border: none;
  color: #f4f4f4;
  box-shadow: 1px 1px 5px rgba(111, 118, 119, 0.584);
}
#calculate:hover, #submit:hover{
  background-color: #08f2a8cc;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
  transform: scale(1.06);
  transition: transform 0.3s ease-in-out;
  opacity: 0.8;
}   
.result {
  display: none;
  background-color: rgba(169, 188, 188, 0.798);
  border-radius: 20px;
  color: #445859;
  box-shadow: 1px 1px 10px rgba(1, 14, 16, 0.152);
  width: 80%;
}
.line{
  border-bottom: 2px dashed #ffffff59; 
}
.note {
  display: none;
  background-color: rgba(211, 39, 76, 0.527); 
  color:  #fff9f9;
  box-shadow: 1px 1px 6px rgba(84, 79, 79, 0.625); 
  border-radius: 20px;
  width: 80%;
}
/* Flying Coin */
.image-div {
  position: absolute;
  top: 30vh;
  left: -15px;
  width: 20%;
  display: none;
}
#blockingDiv {
  position: absolute;
  top: 0;
  left: 47%;
  height: 56%;
  width: 50%;
  background-color: #ecf3f3;
}
#onTop {
  position: absolute;
  top: 0;
  left: 40%;
  width: 40%;
  transform: rotate(180deg);
}
.image-div2 {
  position: absolute;
  top: 0;
  left: 20%;
  transform: rotate(-1200deg);
  width: 10%;
  display: none;
}
.image-div3 {
  position: absolute;
  top: 45%;
  right: 3%;
  width: 10%;
  display: none;
  animation: moveUpDown 5s linear infinite;
}
#tipJar {
  position: absolute;
  right: 0%;
  top: 70%;
  width: 17%;
  display: none;
  animation: vibrate 0.5s ease-in-out infinite; 
}

@keyframes vibrate {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveUpDown {
  0% {
    top: 15%; /* Starting position */
  }
  50% {
    top: 85%; /* Midway point*/
  }
  100% {
    top: 15%; /* Ending position */
  }
}
@media only screen and (max-width: 960px) {  
  .image-div {
      display: none !important
  }
  .image-div2 {
    display: none !important
  }
  #tipJar {
    display: none !important
  }    
  .image-div3 {
    display: none !important
  }
}
@media only screen and (max-width: 660px) {  
  .icon {
    width: 25%;
  }
}
@media only screen and (max-width: 430px) {  
  .icon {
  width: 40%;
  }
  .input-group {
    display: flex;
    flex-direction: column;
  }
  .input-group span, .input-group label {
    width: 100%;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
  }
  .input-group input, .input-group select {
    width: 100% !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;

    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-top: none;
  }
  .result {
    width: 120%;
  }
}
@media only screen and (max-width: 355px) {
  .icon {
    width: 50%;
  }
}

