  body {
    background-color: rgba(148, 189, 189, 0.176);
    overflow: hidden;
  }
  section{
    max-width: 2560px;
    max-height: 1600px ;
  }
  h2 {
    text-align: center;
    color: rgb(76, 94, 94);
  }
  .tipContainer {
    background-color: rgba(195, 235, 233, 0.596);
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(1, 14, 16, 0.584);
  }
  .icon {
    width: 20%;
  }
  .input-group-text{
    background-color: rgba(207, 200, 208, 0.848);
    border: none;
    /* width: 40%; */
  }
  .input-group input {
    background-color: rgba(185, 208, 208, 0.798);
    border: none;
  }
  .input-group select {
    background-color: rgba(185, 208, 208, 0.798);
    border: none;
    color: #445859;
  }
  .textarea{
    display: none;
    width: 80%;
    background-color: #b9e3d6;
  }
  #calculate {
    background-color: rgba(0, 0, 0, 0.651);
    border: none;
    color: #f4f4f4;
    box-shadow: 1px 1px 5px rgba(111, 118, 119, 0.584);
  }
  #calculate:hover{
    background-color: #08f2a6;
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
  }   
  .submitBtn {
    display: none;
    background-color: rgba(0, 0, 0, 0.651);
    border: none;
    color: #f4f4f4;
    box-shadow: 1px 1px 5px rgba(111, 118, 119, 0.584);
  }
  .submitBtn:hover{
    background-color: #08f2a6;
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 1px 1px 10px rgba(69, 87, 102, 0.232); 
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
  } 
  .result {
    display: none;
    background-color: rgba(172, 237, 237, 0.493);
    border-radius: 50px;
    color: #445859;
    box-shadow: 1px 1px 10px rgba(1, 14, 16, 0.152);
    width: 80%;
  }
  .line{
    border-bottom: 2px dashed #ffffff59; 
  }
  .note {
    display: none;
    background-color: rgba(201, 98, 120, 0.37); 
    color:  #fff9f9;
    box-shadow: 1px 1px 6px rgba(84, 79, 79, 0.625); 
    border-radius: 20px;
    width: 100%;
  }
/* Coin */
  .image-div {
    position: absolute;
    top: 30vh;
    left: -15px;
    width: 20%;
    display: none;
  }
  #blockingDiv {
    position: absolute;
    top: 0;
    left: 47%;
    height: 56%;
    width: 50%;
    background-color: #ecf3f3;
  }
  #onTop {
    position: absolute;
    top: 0;
    left: 40%;
    width: 40%;
    transform: rotate(180deg);
  }
  .image-div2 {
    position: absolute;
    top: 0;
    left: 20%;
    transform: rotate(-1200deg);
    width: 10%;
    display: none;
  }
  .image-div3 {
    position: absolute;
    top: 45%;
    right: 3%;
    width: 10%;
    display: none;
    animation: moveUpDown 5s linear infinite;

  }
  #tipJar {
    position: absolute;
    right: 0%;
    top: 70%;
    width: 17%;
    display: none;
    animation: vibrate 0.5s ease-in-out infinite; 
  }

  @keyframes vibrate {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    75% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes moveUpDown {
    0% {
      top: 15%; /* Starting position */
    }
    50% {
      top: 85%; /* Midway point, adjust based on your layout */
    }
    100% {
      top: 15%; /* Ending position */
    }
  }

  @media only screen and (max-width: 960px) {  
    .image-div {
        display: none !important
    }
    .image-div2 {
      display: none !important
    }
    #tipJar {
      display: none !important
    }    
    .image-div3 {
      display: none !important
    }
  }
  @media only screen and (max-width: 660px) {  
    .icon {
      width: 25%;
    }
  }
  @media only screen and (max-width: 420px) {  
    .icon {
    width: 40%;
    }
  }

  